@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    transform: scale(0.99); }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1;
    transform: scale(1); } }
@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
    transform: scale(1); }
  99% {
    opacity: 0;
    transform: scale(0.99); }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0.99); } }
@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url("font/RobotoCondensed-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url("font/RobotoCondensed-Regular.ttf") format("truetype"); }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto Condensed'; }

.container-template {
  max-width: 940px;
  margin: 0 auto; }

.only-mobile {
  display: none; }

.only-desktop {
  display: block; }

@media only screen and (max-width: 600px) {
  .only-mobile {
    display: block; }

  .only-desktop {
    display: none; } }
.fa-star {
  color: #BBB; }
  .fa-star.checked {
    color: #e84c3d; }
  .fa-star:last-child {
    margin-right: 10px; }

img {
  opacity: 1;
  transition: opacity 0.7s; }

img[data-src] {
  opacity: 0; }

nav.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4a4a4a; }
nav.header li {
  float: left; }
  nav.header li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: white; }
    nav.header li a:hover {
      background-color: #111; }
  nav.header li.active {
    background-color: #e84c3d; }

main .container-template.user-reviews {
  margin: 80px auto; }
  main .container-template.user-reviews .container-title {
    margin: 40px 10px 40px; }
    main .container-template.user-reviews .container-title .title {
      font-size: 30px;
      font-weight: 400;
      color: #4a4a4a; }
      main .container-template.user-reviews .container-title .title::first-letter {
        color: #e84c3d; }
    main .container-template.user-reviews .container-title .note {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px 0 10px; }
      main .container-template.user-reviews .container-title .note p {
        margin-left: 10px;
        font-size: 22px;
        font-weight: 400;
        color: #4a4a4a; }
    main .container-template.user-reviews .container-title .description {
      font-size: 14px;
      font-weight: 300;
      color: #4a4a4a; }
  main .container-template.user-reviews .container-reviews .review {
    position: relative;
    margin: 20px 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden; }
    main .container-template.user-reviews .container-reviews .review p.author {
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: bold;
      color: #4a4a4a; }
    main .container-template.user-reviews .container-reviews .review p.date {
      margin: 0 0 18px;
      font-size: 14px;
      font-weight: 200;
      color: #4a4a4a; }
    main .container-template.user-reviews .container-reviews .review p.description {
      font-size: 14px;
      font-weight: 200;
      color: #4a4a4a; }
    main .container-template.user-reviews .container-reviews .review .note {
      position: absolute;
      top: 20px;
      right: 20px; }
  main .container-template.user-reviews .container-reviews .answer {
    position: relative;
    margin: 20px 20px 20px 20%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: #e84c3d; }
    main .container-template.user-reviews .container-reviews .answer:before {
      content: "";
      position: absolute;
      top: -12px;
      left: -12px;
      height: 0;
      width: 0;
      border-right: 20px solid transparent;
      border-bottom: 40px solid #e84c3d;
      border-left: 20px solid transparent;
      transform: rotate(-45deg);
      z-index: -1; }
    main .container-template.user-reviews .container-reviews .answer p {
      color: #fff; }
      main .container-template.user-reviews .container-reviews .answer p.title {
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: bold; }
      main .container-template.user-reviews .container-reviews .answer p.author {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 200; }
      main .container-template.user-reviews .container-reviews .answer p.content {
        font-size: 14px;
        font-weight: 200; }
  main .container-template.user-reviews .container-reviews .pagination {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    main .container-template.user-reviews .container-reviews .pagination button {
      position: relative;
      width: 20px;
      height: 14px;
      margin: 10px;
      border: none;
      outline: none;
      font-size: 16px;
      cursor: pointer;
      color: #4a4a4a;
      background: no-repeat center url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" style="fill: %234a4a4a;"/></g></svg>'); }
      main .container-template.user-reviews .container-reviews .pagination button:hover {
        background: no-repeat center url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" style="fill: %23e84c3d;"/></g></svg>'); }
      main .container-template.user-reviews .container-reviews .pagination button.previous {
        transform: rotate(180deg); }
    main .container-template.user-reviews .container-reviews .pagination ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      main .container-template.user-reviews .container-reviews .pagination ul li {
        margin: 5px;
        padding: 5px 3px;
        cursor: pointer;
        color: #4a4a4a;
        position: relative;
        text-align: center; }
        main .container-template.user-reviews .container-reviews .pagination ul li.active, main .container-template.user-reviews .container-reviews .pagination ul li:hover {
          color: #e84c3d; }
        main .container-template.user-reviews .container-reviews .pagination ul li.active:before {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          background: red;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0; }

footer {
  padding: 50px 0;
  background: #4a4a4a;
  color: #fff;
  text-align: center; }

main.desktop .container-advice {
  margin: 20px 0; }
  main.desktop .container-advice .title {
    padding: 0 10px;
    font-size: 30px;
    font-weight: 400;
    color: #4a4a4a; }
    main.desktop .container-advice .title::first-letter {
      color: #e84c3d; }
  main.desktop .container-advice .description {
    margin: 0 0 20px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 200;
    color: #4a4a4a; }
  main.desktop .container-advice .advice-page-description {
    text-align: center; }
  main.desktop .container-advice .author-advice {
    margin: 40px 0;
    text-align: center; }
    main.desktop .container-advice .author-advice .container-template {
      display: flex;
      flex-direction: row;
      align-items: center; }
      @media only screen and (max-width: 600px) {
        main.desktop .container-advice .author-advice .container-template {
          flex-direction: column; } }
      main.desktop .container-advice .author-advice .container-template .container-description {
        flex: 1; }
        main.desktop .container-advice .author-advice .container-template .container-description .advice-description {
          margin: 20px 0; }
        main.desktop .container-advice .author-advice .container-template .container-description a {
          display: block;
          margin: 10px;
          position: relative;
          padding: 14px 16px;
          text-align: center;
          text-decoration: none;
          color: #4a4a4a;
          text-transform: uppercase;
          transition: all 0.3s;
          display: table;
          margin: auto; }
          main.desktop .container-advice .author-advice .container-template .container-description a:not(.active) {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
            main.desktop .container-advice .author-advice .container-template .container-description a:not(.active):hover {
              box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); }
          main.desktop .container-advice .author-advice .container-template .container-description a.active {
            background: #e84c3d;
            color: #fff; }
      main.desktop .container-advice .author-advice .container-template .container-media {
        flex: 1;
        margin: 20px 10px; }
        main.desktop .container-advice .author-advice .container-template .container-media img {
          max-width: 100%; }
  main.desktop .container-advice .linked-advices .container-template .linked-advices-title {
    margin: 20px 0; }
  main.desktop .container-advice .linked-advices .container-template .teaser-list {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    main.desktop .container-advice .linked-advices .container-template .teaser-list img {
      margin: 5px; }

main .teaserlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  main .teaserlist .teaser {
    position: relative;
    width: calc((100% / 4) - 20px);
    margin: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    transition: all .3s; }
    @media only screen and (max-width: 960px) {
      main .teaserlist .teaser {
        width: calc((100% / 3) - 20px); } }
    @media only screen and (max-width: 768px) {
      main .teaserlist .teaser {
        width: calc((100% / 2) - 20px); } }
    @media only screen and (max-width: 480px) {
      main .teaserlist .teaser {
        width: calc((100% / 1) - 20px); } }
    main .teaserlist .teaser:hover {
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2); }
    main .teaserlist .teaser > p {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.6);
      transition: color .3s; }
    main .teaserlist .teaser > a {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      height: 100%;
      width: 100%; }
    main .teaserlist .teaser .teaser-inner.media {
      width: 100%;
      height: 125px;
      position: relative;
      overflow: hidden;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
      main .teaserlist .teaser .teaser-inner.media img {
        max-width: 100%;
        height: auto;
        width: auto; }
      @media only screen and (max-width: 600px) {
        main .teaserlist .teaser .teaser-inner.media {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          background: #4a4a4a;
          -webkit-clip-path: none;
          clip-path: none; }
          main .teaserlist .teaser .teaser-inner.media img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .2; } }
    main .teaserlist .teaser .teaser-inner.content .container-title {
      margin: 0 0 20px;
      padding: 10px; }
      main .teaserlist .teaser .teaser-inner.content .container-title p {
        color: #888;
        font-size: 16px; }
      main .teaserlist .teaser .teaser-inner.content .container-title .practice {
        text-transform: uppercase;
        transition: color .3s;
        font-size: 16px;
        color: #fff; }
      @media only screen and (max-width: 600px) {
        main .teaserlist .teaser .teaser-inner.content .container-title {
          background: #fff; }
          main .teaserlist .teaser .teaser-inner.content .container-title p {
            color: #4a4a4a; }
          main .teaserlist .teaser .teaser-inner.content .container-title .practice {
            color: #4a4a4a; } }
    main .teaserlist .teaser .teaser-inner.content .container-description {
      margin: 0 20px;
      padding: 0; }
      main .teaserlist .teaser .teaser-inner.content .container-description p {
        padding-left: 40px;
        line-height: 35px;
        background: no-repeat left center;
        background-size: 30px;
        color: #888;
        font-size: 14px; }
        main .teaserlist .teaser .teaser-inner.content .container-description p.difficulty {
          background-image: url("../img/volume.png"); }
        main .teaserlist .teaser .teaser-inner.content .container-description p.length, main .teaserlist .teaser .teaser-inner.content .container-description p.frequency {
          background-image: url("../img/calendar.png"); }
      @media only screen and (max-width: 600px) {
        main .teaserlist .teaser .teaser-inner.content .container-description p {
          color: #fff; } }
    main .teaserlist .teaser .teaser-inner.review {
      margin: 10px 10px;
      font-size: 14px;
      text-align: right;
      color: #888;
      transition: all .3s; }
      @media only screen and (max-width: 600px) {
        main .teaserlist .teaser .teaser-inner.review {
          color: #fff; } }

main.desktop .teaserlist-test-grid {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  @media only screen and (max-width: 960px) {
    main.desktop .teaserlist-test-grid {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media only screen and (max-width: 768px) {
    main.desktop .teaserlist-test-grid {
      grid-template-columns: 1fr 1fr; } }
  @media only screen and (max-width: 480px) {
    main.desktop .teaserlist-test-grid {
      grid-template-columns: 1fr; } }
  main.desktop .teaserlist-test-grid .teaser {
    position: relative;
    margin: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    transition: all .3s; }
    main.desktop .teaserlist-test-grid .teaser:hover {
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 481px) {
      main.desktop .teaserlist-test-grid .teaser:first-child {
        grid-column: 1 / 3;
        grid-row: 1; }
        main.desktop .teaserlist-test-grid .teaser:first-child .teaser-inner.media {
          height: 185px;
          clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); }
        main.desktop .teaserlist-test-grid .teaser:first-child .teaser-inner.content .description {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          margin-top: 30px; } }
    main.desktop .teaserlist-test-grid .teaser > p {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.6);
      transition: color .3s; }
    main.desktop .teaserlist-test-grid .teaser > a {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      height: 100%;
      width: 100%; }
    main.desktop .teaserlist-test-grid .teaser .teaser-inner:not(.media) {
      padding: 15px; }
    main.desktop .teaserlist-test-grid .teaser .teaser-inner.media {
      width: 100%;
      height: 125px;
      position: relative;
      overflow: hidden;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
      main.desktop .teaserlist-test-grid .teaser .teaser-inner.media img {
        max-width: 100%;
        height: auto;
        width: auto; }
    main.desktop .teaserlist-test-grid .teaser .teaser-inner.content p {
      margin: 15px 0 0;
      font-size: 16px;
      color: #888;
      font-size: 16px; }
    main.desktop .teaserlist-test-grid .teaser .teaser-inner.content .container-description {
      margin-top: 40px; }
      main.desktop .teaserlist-test-grid .teaser .teaser-inner.content .container-description p {
        padding-left: 30px;
        margin-top: 15px;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 16px;
        color: #888;
        font-size: 14px; }
        main.desktop .teaserlist-test-grid .teaser .teaser-inner.content .container-description p.difficulty {
          background-image: url("../img/volume-clear.png"); }
        main.desktop .teaserlist-test-grid .teaser .teaser-inner.content .container-description p.length, main.desktop .teaserlist-test-grid .teaser .teaser-inner.content .container-description p.frequency {
          background-image: url("../img/calendar-clear.png"); }
    main.desktop .teaserlist-test-grid .teaser .teaser-inner.review {
      font-size: 14px;
      text-align: right;
      color: #888;
      transition: all .3s; }

main.desktop .teaserlist-test-isotope {
  position: relative;
  padding: 0 auto; }
  main.desktop .teaserlist-test-isotope .teaser {
    position: relative;
    width: 210px;
    margin: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    transition: all .3s; }
    main.desktop .teaserlist-test-isotope .teaser:hover {
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 481px) {
      main.desktop .teaserlist-test-isotope .teaser.two-row {
        width: 440px; }
        main.desktop .teaserlist-test-isotope .teaser.two-row .teaser-inner.media {
          height: 185px;
          clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); }
        main.desktop .teaserlist-test-isotope .teaser.two-row .teaser-inner.content .description {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          margin-top: 30px; } }
    main.desktop .teaserlist-test-isotope .teaser > p {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.6);
      transition: color .3s; }
    main.desktop .teaserlist-test-isotope .teaser > a {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      height: 100%;
      width: 100%; }
    main.desktop .teaserlist-test-isotope .teaser .teaser-inner:not(.media) {
      padding: 15px; }
    main.desktop .teaserlist-test-isotope .teaser .teaser-inner.media {
      width: 100%;
      height: 125px;
      position: relative;
      overflow: hidden;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
      main.desktop .teaserlist-test-isotope .teaser .teaser-inner.media img {
        max-width: 100%;
        height: auto;
        width: auto; }
    main.desktop .teaserlist-test-isotope .teaser .teaser-inner.content p {
      margin: 15px 0 0;
      font-size: 16px;
      color: #888;
      font-size: 16px; }
    main.desktop .teaserlist-test-isotope .teaser .teaser-inner.content .container-description {
      margin-top: 40px; }
      main.desktop .teaserlist-test-isotope .teaser .teaser-inner.content .container-description p {
        padding-left: 30px;
        margin-top: 15px;
        line-height: 18px;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 16px;
        color: #888;
        font-size: 14px; }
        main.desktop .teaserlist-test-isotope .teaser .teaser-inner.content .container-description p.difficulty {
          background-image: url("../img/volume-clear.png"); }
        main.desktop .teaserlist-test-isotope .teaser .teaser-inner.content .container-description p.length, main.desktop .teaserlist-test-isotope .teaser .teaser-inner.content .container-description p.frequency {
          background-image: url("../img/calendar-clear.png"); }
    main.desktop .teaserlist-test-isotope .teaser .teaser-inner.review {
      font-size: 14px;
      text-align: right;
      color: #888;
      transition: all .3s; }

main.desktop .weeks .week {
  margin: 30px 10px; }
  main.desktop .weeks .week > p {
    margin-bottom: 10px;
    text-align: center;
    transition: all 0.7s; }
    main.desktop .weeks .week > p.title {
      font-size: 30px;
      font-weight: bold;
      color: #4a4a4a; }
      main.desktop .weeks .week > p.title::first-letter {
        color: #e84c3d; }
    main.desktop .weeks .week > p.subtitle {
      font-size: 14px;
      font-weight: 300;
      color: #4a4a4a; }
  main.desktop .weeks .week > .brick {
    width: 100%;
    margin-top: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.7s; }
    main.desktop .weeks .week > .brick:hover, main.desktop .weeks .week > .brick.active {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); }
    main.desktop .weeks .week > .brick:hover .accordion {
      background-color: #fff; }
      main.desktop .weeks .week > .brick:hover .accordion .title {
        color: #fff; }
      main.desktop .weeks .week > .brick:hover .accordion .seance_wrapper {
        border-right: 0px solid #e84c3d; }
        main.desktop .weeks .week > .brick:hover .accordion .seance_wrapper .seance_number {
          color: #fff; }
        main.desktop .weeks .week > .brick:hover .accordion .seance_wrapper > p {
          color: #fff; }
      main.desktop .weeks .week > .brick:hover .accordion:after {
        background: no-repeat center url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" style="fill: %23e84c3d;"/></g></svg>'); }
      main.desktop .weeks .week > .brick:hover .accordion:before {
        transition-delay: .5s;
        width: calc(100% - 50px); }
    main.desktop .weeks .week > .brick.active .accordion .title {
      color: #fff; }
    main.desktop .weeks .week > .brick.active .accordion .seance_wrapper {
      border-right: 0px solid #fff; }
      main.desktop .weeks .week > .brick.active .accordion .seance_wrapper > p {
        color: #fff; }
      main.desktop .weeks .week > .brick.active .accordion .seance_wrapper .seance_number {
        color: #fff; }
    main.desktop .weeks .week > .brick.active .accordion:after {
      transform: rotate(90deg);
      background: no-repeat center url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" style="fill: %23fff;"/></g></svg>'); }
    main.desktop .weeks .week > .brick.active .accordion:before {
      transition-delay: 0s;
      width: calc(100% + 40px); }
    main.desktop .weeks .week > .brick ~ .brick {
      margin-top: 0; }
    main.desktop .weeks .week > .brick .accordion {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(100% - 36px);
      padding: 18px;
      margin-top: 10px;
      cursor: pointer;
      transition: all .3s;
      background-color: #fff;
      overflow: hidden; }
      main.desktop .weeks .week > .brick .accordion:after {
        content: "";
        position: absolute;
        right: 20px;
        width: 20px;
        height: 100%;
        transition: transform 0.7s ease-in-out;
        background: no-repeat center url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" style="fill: %23888;"/></g></svg>'); }
      main.desktop .weeks .week > .brick .accordion:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -20px;
        bottom: 0;
        width: 110px;
        transform: skewX(-15deg);
        background: #e84c3d;
        opacity: 1;
        transition: all ease 0.7s;
        z-index: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
      main.desktop .weeks .week > .brick .accordion .seance_wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 10px;
        margin-right: 30px;
        text-align: center;
        font-size: 16px;
        border-right: 0px solid #888;
        color: #fff;
        z-index: 1; }
        main.desktop .weeks .week > .brick .accordion .seance_wrapper > div, main.desktop .weeks .week > .brick .accordion .seance_wrapper > p {
          transition: color 0.3s; }
        main.desktop .weeks .week > .brick .accordion .seance_wrapper .seance_number {
          color: #fff;
          font-size: 2em; }
      main.desktop .weeks .week > .brick .accordion .title {
        flex: 1;
        font-size: 18px;
        color: #4a4a4a;
        transition: color 0.7s;
        transition-delay: .4s;
        z-index: 1; }
    main.desktop .weeks .week > .brick .panel {
      width: calc(100% - 40px);
      padding: 20px;
      display: none; }
      main.desktop .weeks .week > .brick .panel .container-seance {
        display: flex;
        flex-direction: row;
        font-size: 14px; }
        main.desktop .weeks .week > .brick .panel .container-seance .seance-description {
          flex: 3;
          margin-right: 40px; }
          main.desktop .weeks .week > .brick .panel .container-seance .seance-description > p {
            margin-bottom: 20px;
            font-weight: 200; }
            main.desktop .weeks .week > .brick .panel .container-seance .seance-description > p:last-child {
              margin-bottom: 0; }
            main.desktop .weeks .week > .brick .panel .container-seance .seance-description > p.title {
              font-weight: 400;
              text-transform: uppercase; }
        main.desktop .weeks .week > .brick .panel .container-seance .seance-summary {
          flex: 2;
          text-transform: uppercase;
          padding: 20px 20px 60px;
          background: #EEE;
          height: 100%;
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%); }
          main.desktop .weeks .week > .brick .panel .container-seance .seance-summary > p {
            text-align: center;
            font-weight: 400;
            margin-bottom: 20px; }
          main.desktop .weeks .week > .brick .panel .container-seance .seance-summary > ul ol {
            counter-reset: summary; }
          main.desktop .weeks .week > .brick .panel .container-seance .seance-summary > ul li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            list-style-type: none;
            counter-increment: summary;
            margin-bottom: 10px;
            font-weight: 200;
            min-height: 40px;
            padding-left: 55px; }
            main.desktop .weeks .week > .brick .panel .container-seance .seance-summary > ul li:last-child {
              margin-bottom: 0; }
            main.desktop .weeks .week > .brick .panel .container-seance .seance-summary > ul li:before {
              content: counter(summary);
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              text-align: center;
              line-height: 40px;
              width: 40px;
              height: 40px;
              background: #fff;
              border-radius: 100%;
              color: #4a4a4a; }
        @media only screen and (max-width: 600px) {
          main.desktop .weeks .week > .brick .panel .container-seance {
            flex-direction: column; }
            main.desktop .weeks .week > .brick .panel .container-seance .seance-description {
              margin: 0; }
            main.desktop .weeks .week > .brick .panel .container-seance .seance-summary {
              margin-top: 30px; } }

main.desktop .menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 10px;
  align-items: center; }
  main.desktop .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    main.desktop .menu ul > li {
      list-style: none;
      position: relative;
      text-align: center;
      margin: 10px 0px;
      line-height: 40px;
      color: #4a4a4a; }
      main.desktop .menu ul > li:not(:last-child):not(:first-child):after {
        content: " ";
        position: absolute;
        display: block;
        width: 85%;
        height: 100%;
        top: 0;
        left: -5%;
        z-index: -1;
        background: #EEE;
        transform-origin: bottom left;
        transform: skew(-15deg, 0deg); }
      main.desktop .menu ul > li.alone {
        background: #EEE; }
        main.desktop .menu ul > li.alone:hover {
          background: #e84c3d; }
      main.desktop .menu ul > li:first-child a {
        padding: 0 20px 0 10px; }
      main.desktop .menu ul > li:first-child:before {
        content: " ";
        position: absolute;
        display: block;
        width: 85%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: #EEE;
        transform-origin: bottom left; }
      main.desktop .menu ul > li:first-child:after {
        content: " ";
        position: absolute;
        display: block;
        width: 85%;
        height: 100%;
        top: 0;
        right: 10%;
        z-index: -1;
        background: #EEE;
        transform-origin: bottom left;
        transform: skew(-15deg, 0deg); }
      main.desktop .menu ul > li:last-child a {
        padding: 0 10px 0 20px; }
      main.desktop .menu ul > li:last-child:before {
        content: " ";
        position: absolute;
        display: block;
        width: 85%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background: #EEE;
        transform-origin: bottom left; }
      main.desktop .menu ul > li:last-child:after {
        content: " ";
        position: absolute;
        display: block;
        width: 85%;
        height: 100%;
        top: 0;
        left: -2%;
        z-index: -1;
        background: #EEE;
        transform-origin: bottom left;
        transform: skew(-15deg, 0deg); }
      main.desktop .menu ul > li:hover {
        text-decoration: none;
        transition: all 0.3s; }
        main.desktop .menu ul > li:hover:first-child:before, main.desktop .menu ul > li:hover:first-child:after, main.desktop .menu ul > li:hover:last-child:before, main.desktop .menu ul > li:hover:last-child:after, main.desktop .menu ul > li:hover:not(:last-child):not(:first-child):before, main.desktop .menu ul > li:hover:not(:last-child):not(:first-child):after {
          transition: all 0.3s;
          background-color: #e84c3d; }
        main.desktop .menu ul > li:hover a {
          color: #fff; }
      main.desktop .menu ul > li > a {
        display: block;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid transparent;
        font-size: 18px;
        color: #4a4a4a;
        padding: 0 20px; }

main.desktop .plan-description {
  text-align: center;
  margin: 30px 0; }
  main.desktop .plan-description .container-template img {
    margin: 20px;
    height: 120px;
    width: 120px;
    border-radius: 100%; }
  main.desktop .plan-description .container-template h1 {
    padding: 10px;
    font-size: 48px;
    font-weight: 300; }
    main.desktop .plan-description .container-template h1::first-letter {
      color: #e84c3d; }
    main.desktop .plan-description .container-template h1:after {
      content: "";
      width: 100px;
      height: 5px;
      display: block;
      background: #e84c3d;
      margin: 20px auto 5px; }
  main.desktop .plan-description .container-template .author {
    padding: 10px;
    font-size: 20px;
    font-weight: 400; }
  main.desktop .plan-description .container-template .description {
    margin-bottom: 30px; }
    main.desktop .plan-description .container-template .description > p {
      margin: 10px;
      font-size: 16px;
      font-weight: 300; }
  main.desktop .plan-description .container-description-summary {
    background-color: #4a4a4a;
    border-top: 8px solid #e84c3d; }
    main.desktop .plan-description .container-description-summary .container-template {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      color: #fff; }
    main.desktop .plan-description .container-description-summary .description-summary-inner {
      margin: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      main.desktop .plan-description .container-description-summary .description-summary-inner .label {
        font-size: 10px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 50px;
        min-width: 60px;
        padding-bottom: 55px; }
      main.desktop .plan-description .container-description-summary .description-summary-inner .title {
        margin: 15px 5px 5px;
        font-size: 20px; }
      main.desktop .plan-description .container-description-summary .description-summary-inner.level .label {
        background-image: url("../img/volume.png"); }
      main.desktop .plan-description .container-description-summary .description-summary-inner.lenght .label, main.desktop .plan-description .container-description-summary .description-summary-inner.frequency .label {
        background-image: url("../img/calendar.png"); }
    main.desktop .plan-description .container-description-summary > a {
      display: block;
      margin: 10px;
      position: relative;
      padding: 14px 16px;
      text-align: center;
      text-decoration: none;
      color: #4a4a4a;
      text-transform: uppercase;
      transition: all 0.3s; }
      main.desktop .plan-description .container-description-summary > a:not(.active) {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
        main.desktop .plan-description .container-description-summary > a:not(.active):hover {
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); }
      main.desktop .plan-description .container-description-summary > a.active {
        background: #e84c3d;
        color: #fff; }

main .container-template .link-list {
  list-style-type: none;
  padding: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap; }
  @media only screen and (max-width: 768px) {
    main .container-template .link-list {
      justify-content: center; } }
  main .container-template .link-list li a {
    display: block;
    margin: 10px;
    position: relative;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: #4a4a4a;
    text-transform: uppercase;
    transition: all 0.3s; }
    main .container-template .link-list li a:not(.active) {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
      main .container-template .link-list li a:not(.active):hover {
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); }
    main .container-template .link-list li a.active {
      background: #e84c3d;
      color: #fff; }
    main .container-template .link-list li a.download {
      background: no-repeat center left 16px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64 c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472 c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z" style="fill: %234a4a4a;"/> </g> <g> <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z" style="fill: %234a4a4a;"/> </g> </svg>');
      background-size: 15px;
      padding-left: 41px; }

main.mobile .container-advice {
  margin: 20px 0; }
  main.mobile .container-advice .title {
    padding: 0 10px;
    font-size: 30px;
    font-weight: 400;
    color: #4a4a4a; }
    main.mobile .container-advice .title::first-letter {
      color: #e84c3d; }
  main.mobile .container-advice .description {
    margin: 0 0 20px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 200;
    color: #4a4a4a; }
  main.mobile .container-advice .advice-page-description {
    text-align: left; }
  main.mobile .container-advice .author-advice {
    margin: 40px 0;
    text-align: left; }
    main.mobile .container-advice .author-advice .container-template {
      display: flex;
      flex-direction: row;
      align-items: center; }
      @media only screen and (max-width: 600px) {
        main.mobile .container-advice .author-advice .container-template {
          flex-direction: column; } }
      main.mobile .container-advice .author-advice .container-template .container-description {
        flex: 1; }
        main.mobile .container-advice .author-advice .container-template .container-description .advice-description {
          margin: 20px 0; }
        main.mobile .container-advice .author-advice .container-template .container-description a {
          display: block;
          margin: 10px;
          position: relative;
          padding: 14px 16px;
          text-align: center;
          text-decoration: none;
          color: #4a4a4a;
          text-transform: uppercase;
          transition: all 0.3s;
          display: table;
          margin: auto; }
          main.mobile .container-advice .author-advice .container-template .container-description a:not(.active) {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
            main.mobile .container-advice .author-advice .container-template .container-description a:not(.active):hover {
              box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); }
          main.mobile .container-advice .author-advice .container-template .container-description a.active {
            background: #e84c3d;
            color: #fff; }
      main.mobile .container-advice .author-advice .container-template .container-media {
        flex: 1;
        margin: 20px 10px; }
        main.mobile .container-advice .author-advice .container-template .container-media img {
          max-width: 100%; }
  main.mobile .container-advice .linked-advices .container-template .linked-advices-title {
    margin: 20px 0; }
  main.mobile .container-advice .linked-advices .container-template .teaser-list {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    main.mobile .container-advice .linked-advices .container-template .teaser-list img {
      margin: 5px; }

main.mobile .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 0; }
  main.mobile .menu > li {
    margin-right: 8px;
    list-style: none;
    text-align: center;
    line-height: 40px; }
    main.mobile .menu > li:last-child {
      margin-right: 0; }
    main.mobile .menu > li > a {
      display: block;
      text-decoration: none;
      font-weight: bold;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 100%;
      font-size: 18px;
      color: #4a4a4a; }

main.mobile .plan-description {
  text-align: left;
  margin: 30px 0; }
  main.mobile .plan-description .container-template > img {
    margin: 20px;
    height: 120px;
    width: 120px;
    border-radius: 100%; }
  main.mobile .plan-description .container-template h1 {
    padding: 10px;
    font-size: 48px;
    font-weight: 300; }
    main.mobile .plan-description .container-template h1::first-letter {
      color: #e84c3d; }
    main.mobile .plan-description .container-template h1:after {
      content: "";
      width: 100px;
      height: 5px;
      display: block;
      background: #e84c3d;
      margin: 20px 0 5px; }
  main.mobile .plan-description .container-template .author {
    padding: 10px;
    font-size: 20px;
    font-weight: 400; }
  main.mobile .plan-description .container-template .review {
    padding: 0px;
    margin: 0 10px 40px; }
  main.mobile .plan-description .container-template .description {
    margin-bottom: 30px; }
    main.mobile .plan-description .container-template .description > p {
      margin: 10px;
      font-size: 16px;
      font-weight: 300; }
  main.mobile .plan-description .container-description {
    position: relative; }
    main.mobile .plan-description .container-description .container-media {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      background: #4a4a4a;
      overflow: hidden; }
      main.mobile .plan-description .container-description .container-media img {
        height: auto;
        width: 100%;
        opacity: 0.3; }
    main.mobile .plan-description .container-description .container-template {
      padding: 30px 0; }
      main.mobile .plan-description .container-description .container-template a {
        display: block;
        margin: 10px;
        position: relative;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
        color: #4a4a4a;
        text-transform: uppercase;
        transition: all 0.3s;
        display: table;
        margin: auto;
        background: #fff no-repeat center left 16px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64 c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472 c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z" style="fill: %234a4a4a;"/> </g> <g> <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z" style="fill: %234a4a4a;"/> </g> </svg>');
        background-size: 15px;
        padding-left: 41px; }
        main.mobile .plan-description .container-description .container-template a:not(.active) {
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
          main.mobile .plan-description .container-description .container-template a:not(.active):hover {
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); }
        main.mobile .plan-description .container-description .container-template a.active {
          background: #e84c3d;
          color: #fff; }
      main.mobile .plan-description .container-description .container-template .container-description-summary {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        color: #fff; }
        main.mobile .plan-description .container-description .container-template .container-description-summary .description-summary-inner {
          flex: 1;
          margin: 0 5px 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          main.mobile .plan-description .container-description .container-template .container-description-summary .description-summary-inner .label {
            font-size: 10px;
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 50px;
            min-width: 60px;
            padding-bottom: 55px;
            text-align: center; }
          main.mobile .plan-description .container-description .container-template .container-description-summary .description-summary-inner .title {
            margin: 15px 5px 5px;
            font-size: 14px; }
          main.mobile .plan-description .container-description .container-template .container-description-summary .description-summary-inner.level .label {
            background-image: url("../img/volume.png"); }
          main.mobile .plan-description .container-description .container-template .container-description-summary .description-summary-inner.lenght .label, main.mobile .plan-description .container-description .container-template .container-description-summary .description-summary-inner.frequency .label {
            background-image: url("../img/calendar.png"); }

main.mobile .container-program .container-template .select-div {
  border: 1px solid #4a4a4a;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  position: relative; }
  main.mobile .container-program .container-template .select-div:after {
    display: block;
    content: "";
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    background: no-repeat center url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" style="fill: %234a4a4a;"/></g></svg>'); }
  main.mobile .container-program .container-template .select-div #week-select {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-transform: uppercase;
    color: #4a4a4a;
    text-align-last: center;
    border: none;
    box-shadow: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''; }
    main.mobile .container-program .container-template .select-div #week-select:focus {
      outline: none; }
    main.mobile .container-program .container-template .select-div #week-select option {
      width: 100%; }
  main.mobile .container-program .container-template .select-div .weeks .week {
    margin: 0 10px 30px; }

main.mobile .weeks .week {
  margin: 30px 10px; }
  main.mobile .weeks .week > p {
    margin-bottom: 10px;
    text-align: center;
    transition: all 0.7s; }
    main.mobile .weeks .week > p.title {
      font-size: 30px;
      font-weight: bold;
      color: #4a4a4a; }
      main.mobile .weeks .week > p.title::first-letter {
        color: #e84c3d; }
    main.mobile .weeks .week > p.subtitle {
      font-size: 14px;
      font-weight: 300;
      color: #4a4a4a; }
  main.mobile .weeks .week > .brick {
    width: 100%;
    margin-top: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.7s; }
    main.mobile .weeks .week > .brick.active {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); }
    main.mobile .weeks .week > .brick.active .accordion .title {
      color: #fff; }
    main.mobile .weeks .week > .brick.active .accordion .seance_wrapper {
      border-right: 0px solid #fff; }
      main.mobile .weeks .week > .brick.active .accordion .seance_wrapper > p {
        color: #fff; }
      main.mobile .weeks .week > .brick.active .accordion .seance_wrapper .seance_number {
        color: #fff; }
    main.mobile .weeks .week > .brick.active .accordion:after {
      transform: rotate(90deg);
      background: no-repeat center url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" style="fill: %23fff;"/></g></svg>'); }
    main.mobile .weeks .week > .brick.active .accordion:before {
      width: calc(100% + 40px); }
    main.mobile .weeks .week > .brick ~ .brick {
      margin-top: 0; }
    main.mobile .weeks .week > .brick .accordion {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(100% - 36px);
      padding: 18px;
      margin-top: 10px;
      cursor: pointer;
      transition: all .3s;
      background-color: #fff;
      overflow: hidden; }
      main.mobile .weeks .week > .brick .accordion:after {
        content: "";
        position: absolute;
        right: 20px;
        width: 20px;
        height: 100%;
        transition: transform 0.7s ease-in-out;
        background: no-repeat center url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" style="fill: %23888;"/></g></svg>'); }
      main.mobile .weeks .week > .brick .accordion:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -20px;
        bottom: 0;
        width: 110px;
        transform: skewX(-15deg);
        background: #e84c3d;
        opacity: 1;
        transition: all ease 0.7s;
        z-index: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
      main.mobile .weeks .week > .brick .accordion .seance_wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 10px;
        margin-right: 30px;
        text-align: center;
        font-size: 16px;
        border-right: 0px solid #888;
        color: #fff;
        z-index: 1; }
        main.mobile .weeks .week > .brick .accordion .seance_wrapper > div, main.mobile .weeks .week > .brick .accordion .seance_wrapper > p {
          transition: color 0.3s; }
        main.mobile .weeks .week > .brick .accordion .seance_wrapper .seance_number {
          color: #fff;
          font-size: 2em; }
      main.mobile .weeks .week > .brick .accordion .title {
        flex: 1;
        font-size: 18px;
        color: #4a4a4a;
        transition: color 0.7s;
        z-index: 1; }
    main.mobile .weeks .week > .brick .panel {
      width: calc(100% - 40px);
      padding: 20px;
      display: none; }
      main.mobile .weeks .week > .brick .panel .container-seance {
        display: flex;
        flex-direction: row;
        font-size: 14px; }
        main.mobile .weeks .week > .brick .panel .container-seance .seance-description {
          flex: 3;
          margin-right: 40px; }
          main.mobile .weeks .week > .brick .panel .container-seance .seance-description > p {
            margin-bottom: 20px;
            font-weight: 200; }
            main.mobile .weeks .week > .brick .panel .container-seance .seance-description > p:last-child {
              margin-bottom: 0; }
            main.mobile .weeks .week > .brick .panel .container-seance .seance-description > p.title {
              font-weight: 400;
              text-transform: uppercase; }
        main.mobile .weeks .week > .brick .panel .container-seance .seance-summary {
          flex: 2;
          text-transform: uppercase;
          padding: 20px 20px 60px;
          background: #EEE;
          height: 100%;
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%); }
          main.mobile .weeks .week > .brick .panel .container-seance .seance-summary > p {
            text-align: center;
            font-weight: 400;
            margin-bottom: 20px; }
          main.mobile .weeks .week > .brick .panel .container-seance .seance-summary > ul ol {
            counter-reset: summary; }
          main.mobile .weeks .week > .brick .panel .container-seance .seance-summary > ul li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            list-style-type: none;
            counter-increment: summary;
            margin-bottom: 10px;
            font-weight: 200;
            min-height: 40px;
            padding-left: 55px; }
            main.mobile .weeks .week > .brick .panel .container-seance .seance-summary > ul li:last-child {
              margin-bottom: 0; }
            main.mobile .weeks .week > .brick .panel .container-seance .seance-summary > ul li:before {
              content: counter(summary);
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              text-align: center;
              line-height: 40px;
              width: 40px;
              height: 40px;
              background: #fff;
              border-radius: 100%;
              color: #4a4a4a; }
        @media only screen and (max-width: 600px) {
          main.mobile .weeks .week > .brick .panel .container-seance {
            flex-direction: column; }
            main.mobile .weeks .week > .brick .panel .container-seance .seance-description {
              margin: 0; }
            main.mobile .weeks .week > .brick .panel .container-seance .seance-summary {
              margin-top: 30px; } }

/*# sourceMappingURL=app.css.map */
