/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url("font/RobotoCondensed-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url("font/RobotoCondensed-Regular.ttf") format("truetype"); }

main .teaserlist {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  main .teaserlist .teaser {
    position: relative;
    width: 215px;
    margin: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    transition: all .3s; }
    main .teaserlist .teaser:hover {
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2); }
      main .teaserlist .teaser:hover > p {
        color: #fff; }
      main .teaserlist .teaser:hover .teaser-inner.content p {
        color: #4a4a4a; }
      main .teaserlist .teaser:hover .teaser-inner.content .description p {
        color: #4a4a4a; }
      main .teaserlist .teaser:hover .teaser-inner.review {
        color: #4a4a4a; }
    main .teaserlist .teaser > p {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      transition: color .3s; }
    main .teaserlist .teaser > a {
      display: block;
      position: absolute;
      z-index: 3;
      height: 100%;
      width: 100%; }
    main .teaserlist .teaser .teaser-inner:not(.media) {
      padding: 10px; }
    main .teaserlist .teaser .teaser-inner.media {
      width: 215px;
      height: 125px;
      position: relative;
      overflow: hidden;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%); }
      main .teaserlist .teaser .teaser-inner.media img {
        max-width: 100%;
        height: auto;
        width: auto; }
    main .teaserlist .teaser .teaser-inner.content p {
      margin: 15px 0 0;
      font-size: 16px;
      font-weight: normal;
      color: #888;
      font-size: 16px;
      transition: all .3s; }
    main .teaserlist .teaser .teaser-inner.content .description {
      margin-top: 40px; }
      main .teaserlist .teaser .teaser-inner.content .description p {
        position: relative;
        padding-left: 40px;
        margin-top: 15px;
        background-repeat: no-repeat;
        background-position: left top;
        color: #888;
        font-size: 12px;
        transition: all .3s; }
        main .teaserlist .teaser .teaser-inner.content .description p.difficulty {
          background-image: url("/data/volume.png"); }
        main .teaserlist .teaser .teaser-inner.content .description p.length, main .teaserlist .teaser .teaser-inner.content .description p.frequency {
          background-image: url("/data/daily-calendar-pixel.png"); }
    main .teaserlist .teaser .teaser-inner.review {
      margin: 20px 10px;
      text-align: right;
      color: #888;
      transition: all .3s; }

main .weeks .week {
  margin: 30px 10px; }
  main .weeks .week .hidden {
    opacity: 0;
    transform: scale(0.95); }
  main .weeks .week .visible {
    opacity: 1;
    transform: scale(1); }
  main .weeks .week > p {
    margin-bottom: 10px;
    text-align: center;
    transition: all 0.6s; }
    main .weeks .week > p.title {
      font-size: 30px;
      font-weight: bold;
      color: #4a4a4a; }
    main .weeks .week > p.subtitle {
      font-size: 14px;
      font-weight: 300;
      color: #4a4a4a; }
  main .weeks .week > .brick {
    margin-top: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.6s; }
    main .weeks .week > .brick:hover, main .weeks .week > .brick.active {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); }
    main .weeks .week > .brick:hover .accordion {
      background-color: #fff; }
      main .weeks .week > .brick:hover .accordion .title {
        color: #4a4a4a; }
      main .weeks .week > .brick:hover .accordion .seance_wrapper {
        border-right: 1px solid #888; }
        main .weeks .week > .brick:hover .accordion .seance_wrapper .seance_number {
          color: #4a4a4a; }
        main .weeks .week > .brick:hover .accordion .seance_wrapper > p {
          color: #4a4a4a; }
      main .weeks .week > .brick:hover .accordion:after {
        color: #4a4a4a; }
    main .weeks .week > .brick.active .accordion {
      background-color: #0082c3; }
      main .weeks .week > .brick.active .accordion .title {
        color: #fff; }
      main .weeks .week > .brick.active .accordion .seance_wrapper {
        border-right: 1px solid #fff; }
        main .weeks .week > .brick.active .accordion .seance_wrapper > p {
          color: #fff; }
        main .weeks .week > .brick.active .accordion .seance_wrapper .seance_number {
          color: #fff; }
      main .weeks .week > .brick.active .accordion:after {
        transform: rotate(-180deg) translate(0px, 5px);
        color: #fff; }
    main .weeks .week > .brick ~ .brick {
      margin-top: 0; }
    main .weeks .week > .brick .accordion {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(100% - 36px);
      padding: 18px;
      margin-top: 10px;
      cursor: pointer;
      transition: all .3s;
      background-color: #fff; }
      main .weeks .week > .brick .accordion:after {
        content: "^";
        position: absolute;
        right: 20px;
        top: auto;
        transform: rotate(90deg);
        transition: transform 0.3s ease-in-out;
        color: #888; }
      main .weeks .week > .brick .accordion .seance_wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 10px;
        margin-right: 10px;
        text-align: center;
        font-size: 16px;
        border-right: 1px solid #888;
        color: #888; }
        main .weeks .week > .brick .accordion .seance_wrapper > div, main .weeks .week > .brick .accordion .seance_wrapper > p {
          transition: color 0.3s; }
        main .weeks .week > .brick .accordion .seance_wrapper .seance_number {
          color: #888;
          font-size: 2em; }
      main .weeks .week > .brick .accordion .title {
        flex: 1;
        font-size: 16px;
        color: #888;
        transition: color 0.3s; }
    main .weeks .week > .brick .panel {
      width: 100%;
      padding: 20px;
      display: none; }

main .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 0; }
  main .menu > li {
    margin-right: 8px;
    list-style: none;
    text-align: center;
    line-height: 40px; }
    main .menu > li > a {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border: 1px solid #4a4a4a;
      border-radius: 80px;
      font-size: 18px;
      color: #4a4a4a;
      text-decoration: none;
      font-weight: bold; }
      main .menu > li > a:hover {
        background-color: #0082c3;
        color: #fff;
        border: 1px solid #0082c3;
        text-decoration: none;
        transition: all 0.3s; }

nav.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4a4a4a; }

nav.header li {
  float: left; }
  nav.header li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: white; }
    nav.header li a:hover {
      background-color: #111; }
  nav.header li.active {
    background-color: #0082c3; }

body {
  font-family: 'Roboto Condensed'; }

main {
  max-width: 940px;
  margin: 0 auto; }

/*# sourceMappingURL=app.css.map */