@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url("font/RobotoCondensed-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url("font/RobotoCondensed-Regular.ttf") format("truetype"); }

.container .teaserlist {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .container .teaserlist .teaser {
    width: 215px;
    margin: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    position: relative; }
    .container .teaserlist .teaser:hover {
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2); }
    .container .teaserlist .teaser .container-media {
      width: 100%;
      height: 125px;
      position: relative;
      overflow: hidden;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%); }
      .container .teaserlist .teaser .container-media img {
        max-height: 170px;
        width: auto;
        height: auto; }
    .container .teaserlist .teaser .container-content {
      padding: 0 10px;
      font-size: 12px; }
      .container .teaserlist .teaser .container-content .title {
        margin: 15px 0 0; }
        .container .teaserlist .teaser .container-content .title a {
          font-size: 16px;
          font-weight: normal;
          color: black;
          font-size: 16px;
          text-decoration: none;
          display: block;
          transition: color .3s; }
          .container .teaserlist .teaser .container-content .title a:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: transparent;
            z-index: 10; }
      .container .teaserlist .teaser .container-content .description {
        margin-top: 40px;
        color: grey; }
        .container .teaserlist .teaser .container-content .description .training-teaser-row {
          margin: 15px; }
          .container .teaserlist .teaser .container-content .description .training-teaser-row img {
            margin-right: 20px; }
      .container .teaserlist .teaser .container-content .review {
        margin: 20px 10px;
        text-align: right;
        color: gray; }

.container .container_week .week .title_week {
  font-size: 18px;
  font-weight: 300;
  color: #000; }

.container .container_week .week .brick {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); }
  .container .container_week .week .brick:hover, .container .container_week .week .brick.active {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); }
  .container .container_week .week .brick:hover .accordion {
    background-color: #fff; }
    .container .container_week .week .brick:hover .accordion .title {
      color: #000; }
    .container .container_week .week .brick:hover .accordion .seance_number,
    .container .container_week .week .brick:hover .accordion .seance {
      color: #000; }
    .container .container_week .week .brick:hover .accordion:after {
      color: #000; }
  .container .container_week .week .brick.active .accordion {
    background-color: #0082C3; }
    .container .container_week .week .brick.active .accordion .title {
      color: #fff; }
    .container .container_week .week .brick.active .accordion .seance_number,
    .container .container_week .week .brick.active .accordion .seance {
      color: #fff; }
    .container .container_week .week .brick.active .accordion:after {
      transform: rotate(-180deg) translate(0px, 5px);
      color: #fff; }
  .container .container_week .week .brick .accordion {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    padding: 18px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0 0;
    position: relative;
    transition: all 0.3s; }
    .container .container_week .week .brick .accordion:after {
      content: "^";
      position: absolute;
      right: 20px;
      top: auto;
      opacity: 0.5;
      transform: rotate(90deg);
      transition: transform 0.3s ease-in-out;
      color: #888; }
    .container .container_week .week .brick .accordion .seance_wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid #ccc;
      color: #888;
      text-align: center; }
      .container .container_week .week .brick .accordion .seance_wrapper > * {
        transition: color 0.3s; }
      .container .container_week .week .brick .accordion .seance_wrapper .seance_number {
        font-size: 2em; }
    .container .container_week .week .brick .accordion .title {
      transition: color 0.3s;
      flex: 1;
      color: #888; }
  .container .container_week .week .brick .panel {
    box-sizing: border-box;
    width: 100%;
    padding: 0 18px;
    overflow: hidden;
    display: none; }

.container .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0; }

.container .menu li {
  list-style: none;
  text-align: center;
  line-height: 50px;
  margin-right: 8px; }
  .container .menu li a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #aaa;
    display: block;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 8px #999; }
    .container .menu li a:hover {
      text-decoration: none;
      box-shadow: 3px 3px 8px #999;
      transition: all 0.5s;
      transform: scale(1.05); }

body {
  font-family: 'Roboto Condensed'; }

.container {
  max-width: 940px;
  margin: 0 auto; }

/*# sourceMappingURL=app.css.map */