main {
  .container-advice {
    margin: 20px 0;

    .advice-description {
      margin: 20px 0;
      text-align: center;
    }

    .author-advice {
      text-align: center;
      margin: 80px 0;
      .container-template {
        display: flex;
        flex-direction: row;
        align-items: center;
        .container-description {
          flex: 1;
          margin: 10px;
          .title {
            font-size: 30px;
            font-weight: bold;
            color: $color1;
          }
          .description {
            font-size: 16px;
            color: $color1;
          }
          a {
            @include training-plan-button();
            display: table;
            margin: auto;
          }
        }
        .container-media {
          flex: 1;
          margin: 20px;
          img {
            max-width: 100%;
          }
        }
      }
    }

    .linked-advices {
      .container-template{
        .title {
          margin: 10px 0;
          font-size: 30px;
          font-weight: bold;
        }

        .description {
          margin-bottom: 10px;
        }

        .teaser-list {
          display: flex;
          flex-direction: row;
          justify-content: center;
          img {
            margin: 5px;
          }
        }
      }
    }
  }
}