/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto Condensed';
}

.container-template {
  max-width: $wrapper-size;
  margin: 0 auto;
}

.visible {
  opacity: 1;
  @if($animated) {
    transform: scale(1);
    transition: all $hidden-animation-time;
  }
}

.hidden {
  opacity: 0;
  @if($animated) {
    transform: scale(0.95);
    transition: all $hidden-animation-time;
  }
}

.display {
  display: block;
  @if($animated) {
    animation: fadeInFromNone $switch-page-animation-time ease-out;
  }
}

.display-none{
  display: none;
  @if($animated) {
    animation: fadeOut $switch-page-animation-time ease-out;
  }
}

.slidein {
  opacity: 1;
  animation: slideIn $switch-page-animation-time ease-out;
}

.only-mobile {
  display: none;
}

.only-desktop {
  display: block;
}

@media #{$lt600} {
  .only-mobile {
    display: block;
  }

  .only-desktop {
    display: none;
  }
}

.fa-star {
  color: $color5;
  &.checked {
    color: $color3;
  }
  &:last-child {
    margin-right: 10px;
  }
}