main {
  .container-template {
    .link-list {
      list-style-type: none;
      margin-bottom: 60px;
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;

      li {
        a {
          margin: 0 5px;
          @include training-plan-button();

          &.download {
            background: url("../img/download.svg") no-repeat center left 16px;
            background-size: 15px;
            padding-left: 41px;
          }
        }
      }
    }
  }
}