main {
  .container-template {
    .link-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;

      li {
        a {
          @include training-plan-button();
        }
      }
    }
  }
}