@mixin
training-plan-button() {
  display: block;
  margin: 10px;
  position: relative;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: $color1;
  text-transform: uppercase;
  transition: all $button-hover-animation-time;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);

  &.active {
    background: $color3;
    color: $color2;
  }

  &:hover {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.20);
  }

}

@mixin
teaser-width($number-items) {
  width: calc((100% / #{$number-items}) - 20px);
}

@mixin
arrow-color($color) {
  //Changement du premier caractère de la couleur ('#') en sa version hexadecimal ('%23') pour fonctionner sur firefox
  @if(str-index(inspect($color), "#") == 1) {
    $color: "%23" + str-slice(inspect($color), 2);
  }
  background: no-repeat center url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" style="fill: #{$color};"/></g></svg>');
}

@mixin
download-color($color) {
  //Changement du premier caractère de la couleur ('#') en sa version hexadecimal ('%23') pour fonctionner sur firefox
  @if(str-index(inspect($color), "#") == 1) {
    $color: "%23" + str-slice(inspect($color), 2);
  }
  background-image: url('data:image/svg+xml;utf8,<svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64 c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472 c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z" style="fill: #{$color};"/> </g> <g> <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z" style="fill: #{$color};"/> </g> </svg>');
}
