$wrapper-size: 940px;

$lt480 : "only screen and (max-width: 480px)";
$lt600 : "only screen and (max-width: 600px)";
$lt768 : "only screen and (max-width: 768px)";
$lt960 : "only screen and (max-width: 960px)";

$gt480 : "only screen and (min-width: 481px)";


$color1: #4a4a4a;
$color2: #fff;
//$color3: #009999;
$color3: #e84c3d;
//$color3: #0082C3;
//$color3: #888;
$color4: #888;
$color5: #BBB;
$color6: #EEE;

//Title week
$title-week-color: $color1;
$title-week-font-size: 30px;
$title-week-fontweight: bold;

$subtitle-week-color: $color1;
$subtitle-week-font-size: 14px;
$subtitle-week-fontweight: 300;

//Accordion
$accordion-background-color: $color2;
$accordion-background-color-hover: $accordion-background-color;
$accordion-background-color-active: $color3;

$accordion-title-fontsize: 18px;
$accordion-title-color: $color1;
$accordion-title-color-hover: $color2;
$accordion-title-color-active: $color2;

$accordion-seance-fontsize: 16px;
$accordion-seance-color: $color2;
$accordion-seance-color-hover: $accordion-title-color-hover;
$accordion-seance-color-active: $accordion-title-color-active;

$accordion-seance-number-fontsize: 2em;
$accordion-seance-number-color: $accordion-seance-color;
$accordion-seance-number-color-hover: $accordion-seance-color-hover;
$accordion-seance-number-color-active: $accordion-seance-color-active;

$accordion-icon-color: $color4;
$accordion-icon-color-hover: $color3;
$accordion-icon-color-active: $color2;

$accordion-separator-size: 0px;
$accordion-separator-color: $color4;
$accordion-separator-color-hover: $color3;
$accordion-separator-color-active: $color2;

$animated: true;
$week-animation-time: .7s;
$teaser-animation-time: .8s;
$hidden-animation-time: .7s;
$switch-page-animation-time: .5s;
$button-hover-animation-time: .3s;

//Menu 
$menu-font-size: 18px;
$menu-font-color: $color1;
$menu-font-color-hover: $color2;
$menu-background-color: $color2;
$menu-background-color-hover: $color3;
$menu-border: 1px solid transparent;
$menu-item-size: 40px;
$menu-border-radius: 100%;
$menu-border-hover: 1px solid $color3;

//Teaser
$teaser-training-plan-margin: 10px;
//$teaser-training-plan-width: ($wrapper-size/4)-($teaser-training-plan-margin*2);

$teaser-training-plan-practice-fontsize : 16px;
$teaser-training-plan-practice-color : $color2;
$teaser-training-plan-practice-color-mobile : $color1;

$teaser-training-plan-title-fontsize : 16px;
$teaser-training-plan-title-color : $color4;
$teaser-training-plan-title-color-mobile : $color1;

$teaser-training-plan-description-fontsize : 14px;
$teaser-training-plan-description-color : $teaser-training-plan-title-color;
$teaser-training-plan-description-color-mobile : $color2;

$teaser-training-plan-color-review: $teaser-training-plan-title-color;
$teaser-training-plan-color-review-mobile: $color2;

//Plan description
$plan-description-title-fontsize: 48px;
$plan-description-title-fontweight: 300;

$plan-description-author-fontsize: 20px;
$plan-description-author-fontweight: 400;

$plan-description-description-fontsize: 16px;
$plan-description-description-fontweight: 300;

//Advice
$advice-title-color: $color1;
$advice-title-fontsize: 30px;
$advice-title-fontweight: 400;

$advice-description-color: $color1;
$advice-description-fontsize: 16px;
$advice-description-fontweight: 200;

//Review

$title-review-color: $color1;
$title-review-font-size: 30px;
$title-review-fontweight: 400;

$subtitle-review-color: $color1;
$subtitle-review-font-size: 14px;
$subtitle-review-fontweight: 300;








