@import "fonts.scss";
@import "variables.scss";
@import "teaser.scss";
@import "week.scss";
@import "menu.scss";

body {
    font-family: 'Roboto Condensed';
}

.container {
    max-width: 940px;
    margin: 0 auto;
}