main {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px 0;
        > li {
            margin-right: 8px;
            list-style: none;
            text-align: center;
            line-height: $menu-item-size;

            > a {
                display: block;
                width: $menu-item-size;
                height: $menu-item-size;
                background-color: $menu-background-color;
                border: $menu-border;
                border-radius: $menu-border-radius;
                font-size: $menu-font-size;
                color: $menu-font-color;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    background-color: $menu-background-color-hover;
                    color: $menu-font-color-hover;
                    border: $menu-border-hover;
                    text-decoration: none;
                    transition: all 0.3s;
                }
            }
        }
    }
}