main.mobile {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px 0;
        > li {
            margin-right: 8px;
            list-style: none;
            text-align: center;
            line-height: $menu-item-size;
            &:last-child {
                margin-right: 0;
            }

            > a {
                display: block;
                text-decoration: none;
                font-weight: bold;
                width: $menu-item-size;
                height: $menu-item-size;
                background-color: $menu-background-color;
                border: $menu-border;
                border-radius: $menu-border-radius;
                font-size: $menu-font-size;
                color: $menu-font-color;
            }
        }
    }
}