main {
  .container-template {

    .link-menu{
      display: flex;
      flex-direction: row;
      a.download {
        @include training-plan-button();
        background: no-repeat center left 16px;
        @include download-color($color1);
        background-size: 15px;
        padding-left: 41px;
        margin-left: auto;
      }
      .link-list {
        list-style-type: none;
        padding: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;

        @media #{$lt768} {
          justify-content: center;
        }

        li {
          a {
            display: block;
            margin: 5px;
            padding: 10px;
            position: relative;
            text-align: center;
            text-decoration: none;
            color: $color1;
            text-transform: uppercase;
            transition: all $button-hover-animation-time;

            &:hover {
              color: $color3;
            }

            &.active {
              color: $color3;
              &:before {
                content: '';
                display: block;
                background: $color3;
                width: 100%;
                height: 5px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
}