main.desktop {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 30px 10px;
        > li {
            margin: 5px 8px 5px 0;
            list-style: none;
            text-align: center;
            line-height: $menu-item-size;
            &:last-child {
                margin-right: 0;
            }

            > a {
                display: block;
                text-decoration: none;
                font-weight: bold;
                width: $menu-item-size;
                height: $menu-item-size;
                background-color: $menu-background-color;
                border: $menu-border;
                border-radius: $menu-border-radius;
                font-size: $menu-font-size;
                color: $menu-font-color;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.40);
                &:hover {
                    text-decoration: none;
                    transition: all 0.3s;
                    background-color: $menu-background-color-hover;
                    color: $menu-font-color-hover;
                    border: $menu-border-hover;
                }
            }
        }
    }
}