main.desktop {
  .plan-description {
    text-align: center;
    margin: 30px 0;

    .container-template {
      img {
        margin: 20px;
        height: 120px;
        width: 120px;
        border-radius: 100%;
      }

      h1 {
        padding: 10px;
        font-size: $plan-description-title-fontsize;
        font-weight: $plan-description-title-fontweight;
        &::first-letter {
          color: $color3;
        }

        &:after {
          content:"";
          width: 100px;
          height: 5px;
          display: block;
          background: $color3;
          margin: 20px auto 5px;
        }
      }

      .author {
        padding: 10px;
        font-size: $plan-description-author-fontsize;
        font-weight: $plan-description-author-fontweight;
      }

      .description {
        margin-bottom: 30px;
        > p {
          margin: 10px;
          font-size: $plan-description-description-fontsize;
          font-weight: $plan-description-description-fontweight;
        }
      }
    }

    .container-description-summary {
      background-color: $color1;
      border-top: 8px solid $color3;
      .container-template {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        color: $color2;
      }
      .description-summary-inner {
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .label {
          font-size: 10px;
          background-repeat: no-repeat;
          background-position: center bottom;
          background-size: 50px;
          min-width: 60px;
          padding-bottom: 55px;
        }
        .title{
          margin: 15px 5px 5px;
          font-size: 20px;
        }

        &.level {
          .label {
            background-image: url("../img/volume.png");
          }
        }

        &.lenght,
        &.frequency {
          .label {
            background-image: url("../img/calendar.png");
          }
        }
      }

      > a {
        @include training-plan-button();
      }
    }
  }
}